openapi: 3.0.4
info:
  title: OptionalValues.Examples.Swashbuckle
  version: '1.0'
paths:
  /company:
    post:
      tags:
        - Example
      description: This directly returns the posted object
      operationId: Example Post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
components:
  schemas:
    Address:
      required:
        - street
      type: object
      properties:
        street:
          type: string
          nullable: true
        city:
          type: string
        state:
          pattern: '^[a-zA-Z ]+$'
          type: string
        zip:
          type: string
          nullable: true
      additionalProperties: false
    Company:
      required:
        - name
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        summary:
          maxLength: 50
          minLength: 0
          type: string
          nullable: true
        contact:
          $ref: '#/components/schemas/Person'
      additionalProperties: false
    Person:
      type: object
      properties:
        name:
          type: string
          nullable: true
        age:
          maximum: 120
          minimum: 0
          type: integer
          format: int32
        address:
          $ref: '#/components/schemas/Address'
      additionalProperties: false